*.o
*.lo
*.Plo
*.Po
api/.deps
.libs
*.la
*.a
Makefile
FFTW3*.cmake
config.log
config.status
config.h
fftw.pc
fftw3f.pc
api/fftw3.f03
libtool
mpi/fftw3-mpi.f03
mpi/fftw3l-mpi.f03
stamp-h1
tests/bench
tools/fftw-wisdom-to-conf
tools/fftw_wisdom.1
tools/fftwf-wisdom
confdefs.h
conftest.c
conftest.err
